*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  background-image: linear-gradient(red, yellow, blue)
} */

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #34B6CF;

}

  .container {
  width: 90vw; 
  max-width: 450px; 
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  background: white;
  border-radius: .5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

}

section > h3 {
  display: flex;
  justify-content: flex-start;
  margin: 0.2rem 0 1rem 1.5rem;
  font: normal 1.4rem/1.3rem 'Ovo', serif;
  font-weight: 300;
  color: #354ED0
}

.list {
  margin: 0.75rem 0 0.75rem 0;

}

.person {
  margin: 0 0 0.9rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: .75rem ;
}

.person-text {
  margin: 0.5rem 0 0 0;
  display: flex;
  font-family: 'Ovo', serif;
  /* align-items: center; */
  /* justify-content: center; */
}

p.person-text {
  font-size: 1.1rem;
}

img {
  margin: 0 0 0 0.5rem;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
  max-width: 100%;
}

button.clear-all-btn {
  width: 90%;
  font: normal normal normal 1.65rem/1.3rem 'Old Standard TT', serif;;
  color: white;
  margin: 0.5rem 0 0 0;
  padding: 0.8rem 0 0.8rem 0;
  border-radius: 0.25rem;
  border-color: transparent;

  background: #34B6CF;

}

.clear-all-btn:hover {
  cursor: pointer
}

img.clear-btn {
  width: 2.8rem;
  height: 2.8rem
}

img.clear-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transform: rotate(10deg)

}

div.btn{
  margin: auto
}
/* section.container {
  max-width: 40%;
} */